/*
This file is part of the ProEthos Software. 

Copyright 2013, PAHO. All rights reserved. You can redistribute it and/or modify
ProEthos under the terms of the ProEthos License as published by PAHO, which
restricts commercial use of the Software. 

ProEthos is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE. See the ProEthos License for more details. 

You should have received a copy of the ProEthos License along with the ProEthos
Software. If not, see
https://raw.githubusercontent.com/bireme/proethos/master/LICENSE.txt
*/


@font-face {
    font-family: 'Roboto';
    src: url('fontes/Roboto-Regular-webfont.eot');
    src: url('fontes/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontes/Roboto-Regular-webfont.woff') format('woff'),
         url('fontes/Roboto-Regular-webfont.ttf') format('truetype'),
         url('fontes/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoItalic';
    src: url('fontes/Roboto-Italic-webfont.eot');
    src: url('fontes/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontes/Roboto-Italic-webfont.woff') format('woff'),
         url('fontes/Roboto-Italic-webfont.ttf') format('truetype'),
         url('fontes/Roboto-Italic-webfont.svg#RobotoItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoBold';
    src: url('fontes/Roboto-Bold-webfont.eot');
    src: url('fontes/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontes/Roboto-Bold-webfont.woff') format('woff'),
         url('fontes/Roboto-Bold-webfont.ttf') format('truetype'),
         url('fontes/Roboto-Bold-webfont.svg#RobotoBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoBoldItalic';
    src: url('fontes/Roboto-BoldItalic-webfont.eot');
    src: url('fontes/Roboto-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontes/Roboto-BoldItalic-webfont.woff') format('woff'),
         url('fontes/Roboto-BoldItalic-webfont.ttf') format('truetype'),
         url('fontes/Roboto-BoldItalic-webfont.svg#RobotoBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoCondensed';
    src: url('fontes/Roboto-Condensed-webfont.eot');
    src: url('fontes/Roboto-Condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontes/Roboto-Condensed-webfont.woff') format('woff'),
         url('fontes/Roboto-Condensed-webfont.ttf') format('truetype'),
         url('fontes/Roboto-Condensed-webfont.svg#RobotoCondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoCondensedItalic';
    src: url('fontes/Roboto-CondensedItalic-webfont.eot');
    src: url('fontes/Roboto-CondensedItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontes/Roboto-CondensedItalic-webfont.woff') format('woff'),
         url('fontes/Roboto-CondensedItalic-webfont.ttf') format('truetype'),
         url('fontes/Roboto-CondensedItalic-webfont.svg#RobotoCondensedItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoBoldCondensed';
    src: url('fontes/Roboto-BoldCondensed-webfont.eot');
    src: url('fontes/Roboto-BoldCondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontes/Roboto-BoldCondensed-webfont.woff') format('woff'),
         url('fontes/Roboto-BoldCondensed-webfont.ttf') format('truetype'),
         url('fontes/Roboto-BoldCondensed-webfont.svg#RobotoBoldCondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoBoldCondensedItalic';
    src: url('fontes/Roboto-BoldCondensedItalic-webfont.eot');
    src: url('fontes/Roboto-BoldCondensedItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontes/Roboto-BoldCondensedItalic-webfont.woff') format('woff'),
         url('fontes/Roboto-BoldCondensedItalic-webfont.ttf') format('truetype'),
         url('fontes/Roboto-BoldCondensedItalic-webfont.svg#RobotoBoldCondensedItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoThin';
    src: url('fontes/Roboto-Thin-webfont.eot');
    src: url('fontes/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontes/Roboto-Thin-webfont.woff') format('woff'),
         url('fontes/Roboto-Thin-webfont.ttf') format('truetype'),
         url('fontes/Roboto-Thin-webfont.svg#RobotoThin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoThinItalic';
    src: url('fontes/Roboto-ThinItalic-webfont.eot');
    src: url('fontes/Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontes/Roboto-ThinItalic-webfont.woff') format('woff'),
         url('fontes/Roboto-ThinItalic-webfont.ttf') format('truetype'),
         url('fontes/Roboto-ThinItalic-webfont.svg#RobotoThinItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoLight';
    src: url('fontes/Roboto-Light-webfont.eot');
    src: url('fontes/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontes/Roboto-Light-webfont.woff') format('woff'),
         url('fontes/Roboto-Light-webfont.ttf') format('truetype'),
         url('fontes/Roboto-Light-webfont.svg#RobotoLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoLightItalic';
    src: url('fontes/Roboto-LightItalic-webfont.eot');
    src: url('fontes/Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontes/Roboto-LightItalic-webfont.woff') format('woff'),
         url('fontes/Roboto-LightItalic-webfont.ttf') format('truetype'),
         url('fontes/Roboto-LightItalic-webfont.svg#RobotoLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoMedium';
    src: url('fontes/Roboto-Medium-webfont.eot');
    src: url('fontes/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontes/Roboto-Medium-webfont.woff') format('woff'),
         url('fontes/Roboto-Medium-webfont.ttf') format('truetype'),
         url('fontes/Roboto-Medium-webfont.svg#RobotoMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoMediumItalic';
    src: url('fontes/Roboto-MediumItalic-webfont.eot');
    src: url('fontes/Roboto-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontes/Roboto-MediumItalic-webfont.woff') format('woff'),
         url('fontes/Roboto-MediumItalic-webfont.ttf') format('truetype'),
         url('fontes/Roboto-MediumItalic-webfont.svg#RobotoMediumItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoBlack';
    src: url('fontes/Roboto-Black-webfont.eot');
    src: url('fontes/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontes/Roboto-Black-webfont.woff') format('woff'),
         url('fontes/Roboto-Black-webfont.ttf') format('truetype'),
         url('fontes/Roboto-Black-webfont.svg#RobotoBlack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoBlackItalic';
    src: url('fontes/Roboto-BlackItalic-webfont.eot');
    src: url('fontes/Roboto-BlackItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontes/Roboto-BlackItalic-webfont.woff') format('woff'),
         url('fontes/Roboto-BlackItalic-webfont.ttf') format('truetype'),
         url('fontes/Roboto-BlackItalic-webfont.svg#RobotoBlackItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*--------------------------------------------------------- PAGINA PRINCIPAL*/