@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('fontes/YanoneKaffeesatz-Regular-webfont.eot');
    src: url('fontes/YanoneKaffeesatz-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontes/fnt-6.woff2.woff') format('woff'),
         url('fontes/YanoneKaffeesatz-Regular.ttf') format('truetype'),
         url('fontes/Roboto-BoldItalic-webfont.svg#RobotoBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
