#form_search
	{
		border: 1px solid #000;
		width: auto;
		margin-left: 2px;
		margin-top: 20px;
		padding: 10px;
	}
.form_search_input
	{
		font-size: 20px;
	}
.form_search_input_button	
	{
		font-size: 20px;
	}
#content
	{
		border: 0px solid #202020;
		margin-left: 20px;
		margin-right: 20px;
		margin-top: 20px;
		margin-bottom: 20px;
		padding: 10px;
		text-align: left;
	}
/* Table */
.tabela00 tr:nth-child(even) {background: #CCC}
.tabela00 tr:nth-child(odd) {background: #FFF}

.lt0 { font-size: 10px; }
.lt1 { font-size: 13px; }
.lt2 { font-size: 16px; }
.lt3 { font-size: 20px; }
.lt4 { font-size: 24px; }
.lt5 { font-size: 32px; }

/* border */
.border1 { border: 1px solid #000000; }
.border0 { border: 0px solid #000000; }

/* Padding */
.pad5 { padding: 5px 5px 5px 5px; }

/* Margin */
.ml2 { margin-left: 2px; }
.mt10 { margin-top: 10px;}
.mt20 { margin-top: 20px;}


/* Align Float */
.left { float: left; }
.right { float: right; }
.none{ float: clear; }

/* Padding */
.pad5 { padding: 5px; }
.rpad5 { padding-right: 5px; }
.lpad5 { padding-left: 5px; }

/* Margin */
.rmarg5 { margin-right: 5px; }
.lmarg5 { margin-left: 5px; }
