.topmenu_on, .topmenu_on a
	{
  		font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-size:12px;
		color:#FFFFFF;
		text-align:center;
		background-color: #1D4161;
		text-decoration: none;				
	}
.topmenu_off, .topmenu_off a
	{
  		font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-size:12px;
		color:#1D4161;
		text-align:center;
		background-color: #9EB5CA;
		text-decoration: none;			
	}
.table_resume
	{
  		font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-size:12px;
		color:#000000;
		text-align:justify;	
		border: 0px;	
	}
.table_resume_td
	{
		font-size: 30px;
		text-decoration: none;
		color: black;
		text-shadow: 1px 1px 2px #505050;
		background-color: #F8F8F8;
	}

h1, h2, h3, h4, h5, h6 
	{
		font-family: RobotoThin, Arial, Helvetica, sans-serif;
		margin-top: 5px;
		margin-bottom: 5px;
	}


body
	{
		background-color: #F8F8F8;
		margin: 0px;
		padding: 0px;
		font:normal 14px 'Roboto', Arial, Helvetica, sans-serif;
		font-family: Roboto, Arial, Helvetica, sans-serif;
		color: #333;
	}

a {
	text-decoration: none;
	color: #555;
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-ms-transition: 0.5s ease;
	transition: 0.5s ease;	
}

a:hover	
	{
		text-decoration: underline;
		color: #000;
	}
