/* Slider
http://www.freshdesignweb.com/drop-down-responsive-menu-with-css3-and-jquery.html
*/
/* @import url(http://fonts.googleapis.com/css?family=Gentium+Basic:400,700|Yanone+Kaffeesatz); */


/* Cab Menu */
#cabmenu nav
	{
		position: absolut;
		width: 100%;
		display:block;
		z-index:999999;
		height: 45px;
		border: 0px solid #000000;
		padding: 0px 5px 0px 5px;
	}
/*===== nav style ======*/

#cabmenu nav ul {
	display:block;
	z-index:999999;
	margin: 0px;
	padding: 0px;
}
#cabmenu nav ul li {
	color: #FFFFFF;
	display: inline-block;
    vertical-align: top;
	margin-left:0px;
	margin-right:5px;
	position:relative;	
  	padding: 0px 15px 0px 15px;
  	box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	background-color: #6C91B1;
  	height: 32px;
  	opacity: 1;
  	border: 1px solid #5C91A1;
  	border-radius: 0px 0px 5px 5px;
  	-webkit-border-radius: 0px 0px 5px 5px;
  	-moz-border-radius: 0px 0px 5px 5px;
  	-ms-border-radius: 0px 0px 5px 5px;
  	-o-border-radius: 0px 0px 5px 5px;
  	box-shadow: 2px 2px 2px 0px #000000;
  	-webkit-box-shadow: 2px 2px 2px 0px #000000;
  	-moz-box-shadow: 2px 2px 2px 0px #000000;
  	-ms-box-shadow: 2px 2px 2px 0px #000000;
  	-o-box-shadow: 2px 2px 2px 0px #000000;	
}
#cabmenu nav ul li a:link, #cabmenu nav ul li a:visited {
	color:#E0E0E0;
	font:normal 20px 'Yanone Kaffeesatz', sans-serif;
	text-transform:uppercase;
	text-decoration: none;
	/*display:inline-block; */
	position:relative;
}
#cabmenu nav ul li a:hover, #cabmenu nav ul li a:active {
	text-decoration:none;
}
#cabmenu ul li:hover
	{
			background-color: #000041;
			padding-top: 10px;
			height: 42px;
			color: #FFFFFF;
	} 

#cabmenu .active_menu
	{
			background-color: #CC6600;
			padding-top: 10px;
			height: 42px;
			color: #FFFFFF;
	}
