.border01
	{
		border: 1px solid #e0e0e0;
	}
.padding5
	{
		padding: 5px;
	}
#xml_oms
	{
		width: 80px;
	}
#xml_oms_right
	{
		background-color: #efefef;
		color: #000;
		width: 40px;
		float: left;
	}
#xml_oms_left
	{
		background-color: #33333;
		color: #ddd;
		width: 40px;
		float: left;
	}
.pageactive
    {
        background-color: #d0d0d0;
        padding-left: 10px;
        padding-right: 10px;
        border: 1px solid #808080;
        width: 20px;
        text-align: center;
    }
.page_normal
	{
        background-color: #fff;
        padding-left: 10px;
        padding-right: 10px;
        border: 1px solid #808080;
        width: 20px;
        text-align: center;
	}
.page_normal:hover
	{
		border: 1px solid #000;	
	}
.documents {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.documents  {
    background-image: url("../img/icone_pdf_file.png");
    background-repeat: no-repeat;
    background-position: 0px 0px; 
    padding-left: 18px; 
    height: 30px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 30px;
}

#form_search
	{
		border: 1px solid #000;
		width: auto;
		margin-left: 2px;
		margin-top: 20px;
		padding: 10px;
	}
.form_search_input
	{
		font-size: 20px;
	}
.form_search_input_button	
	{
		font-size: 20px;
	}
#content
	{
		border: 1px solid #202020;
		background-color: #FFFFFF;
		margin-left: 20px;
		margin-right: 20px;
		margin-top: 20px;
		margin-bottom: 20px;
		padding: 10px;
		text-align: left;
		max-width: 1024px;
	}
	
#the_history
    {
       border: 1px solid #202020; 
       padding: 10px;
    }	
/* Table */

.table_proj 
    {
        font-size: 18px;
        border-top: 1px solid #808080;
    }
.tabela00 tr:nth-child(even) {background: #FFF}
.tabela00 tr:nth-child(odd) {background: #FFF}

.lt0 { font-size: 10px; }
.lt1 { font-size: 13px; }
.lt2 { font-size: 16px; }
.lt3 { font-size: 20px; }
.lt4 { font-size: 24px; }
.lt5 { font-size: 32px; }

/* border */
.border1 { border: 1px solid #000000; }
.border0 { border: 0px solid #000000; }

/* Padding */
.pad5 { padding: 5px 5px 5px 5px; }

/* Margin */
.ml2 { margin-left: 2px; }
.mt10 { margin-top: 10px;}
.mt20 { margin-top: 20px;}


/* Align Float */
.left { float: left; }
.right { float: right; }
.none{ float: clear; }

/* Padding */
.pad5 { padding: 5px; }
.rpad5 { padding-right: 5px; }
.lpad5 { padding-left: 5px; }

/* Margin */
.rmarg5 { margin-right: 5px; }
.lmarg5 { margin-left: 5px; }
