div.tagsinput 
	{ 
		border:1px solid #E0E0E0; background: #FFF; 
		padding:5px; width:300px; height:50px; 
		overflow-y: auto;
	}
	
div.tagsinput span.tag 
	{ border: 0px solid #808080; -moz-border-radius:2px; 
		-webkit-border-radius:2px; display: block; 
		float: left; padding: 5px; text-decoration:none; 
		background: #E0E0E0; color: #101010; margin-right: 5px; 
		margin-bottom:5px;font-family: helvetica;  font-size:13px;
	}
div.tagsinput span.tag a { font-weight: bold; color: #8080FF; text-decoration:none; font-size: 11px;  } 
div.tagsinput input { width:200px; margin:0px; font-family: helvetica; font-size: 13px; border:1px solid transparent; padding:5px; background: transparent; color: #000; outline:0px;  margin-right:5px; margin-bottom:5px; }
div.tagsinput div { display:block; float: left; } 

.tags_clear { clear: both; width: 100%; height: 0px; }
.not_valid {background: #FBD8DB !important; color: #90111A !important;}

